html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, gold, yellow);
    display: flex;
    flex-direction: column;
}

.Card {
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}

a {
    color: navy;
}

.error {
    color: red;
}